.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--main-color);
  text-decoration: none;
  margin-right: 94px; 

&:hover,
&:focus {
  cursor: pointer;
} }

.logo__lightstyle {
  color: var(--second-color);
  text-decoration: none;
}

/*.logo-nav*/
.logo__darkstyle {
  color: var(--main-color);

&:hover,
&:focus {
  cursor: pointer;
} }
