.content {
  display: inline-flex;   
  padding: 60px 0px;
  justify-content: center; 
  flex-wrap: wrap; 
  color: red; 

}

.content__container {
  display: inline-flex; 
  flex-direction: column; 

  max-width: 1200px;
  min-height: 80px;
  padding: 0 15px;
  margin: 0 auto;
  
}

.content__list { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  
   
} 

.content__item {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 


}

.content__icon {
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--fourth-color);
  border-radius: 4px;
}

.icon__box {
  width: 70px;
  height: 70px;
}

.content h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.content p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
} 

/* tu reszta potrzebnych styli dla mobile tych poniżej */



@media screen and (min-width: 768px) {   


    
// /*tu style dotyczące tego co  na makiecie jest oznaczone jako tablet */            
.content {
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  

}  
    
.content__container {
  //min-width: 768px;
  //min-height: 80px;
  padding: 0 15px;
  margin: 0 auto;
  display: inline-flex;
  

  }  

// .content__item {
//   display: inline-flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;


// } 

// .content__list {
//   display: inline-flex;
//   justify-content: center; 
//   flex-wrap: wrap; 
//   } 
 
/* .content__icon {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--fourth-color);
  border-radius: 4px;
} */

/* .icon__box {
  width: 70px;
  height: 70px;
  } */

/* .content h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
 } */

/* .content p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
} */ } 

 
 
//   @media screen and (min-width: 768px) and (max-width: 1200px) {
//         .content {
//         background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/hero/hero-bg-tablet.jpg");
//         padding: 118px 15px;
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//   } }


// @media screen and (min-width: 1200px) {
//        .content {
          
        
//       ),
//       url("../images/hero/hero-bg-desktop.jpg");
//         padding: 118px 15px;
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         max-width: 1600px;
//         font-size: 26px;
//         line-height: 1.62;
//     } }
 




// .content__container {
//    max-width: 1200px;
//   min-height: 80px;
//   padding: 0 15px;
//   margin: 0 auto;
// }

// .content__list {
//   display: flex;
//   justify-content: center;
// } 

// .content__icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 270px;
//   height: 120px;
//   margin-bottom: 30px;
//   background-color: var(--fourth-color);
//   border-radius: 4px;
// }

// .icon__box {
//   width: 70px;
//   height: 70px;
// }

// .content h3 {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.142;
//   padding-bottom: 10px;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--main-color);
// }

// .content p {
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
// }
